In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/salary_dataset.csv')
df.head()

   experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0           0                      8                           9      50000
1           0                      8                           6      45000
2           5                      6                           7      60000
3           2                     10                          10      65000
4           7                      9                           6      70000

In [3]:
df.isnull().sum()

experience                    0
test_score(out of 10)         0
interview_score(out of 10)    0
salary($)                     0
dtype: int64

In [4]:
df.shape

(8, 4)

In [5]:
df.columns

Index(['experience', 'test_score(out of 10)', 'interview_score(out of 10)',
       'salary($)'],
      dtype='object')

In [6]:
x = df.drop('salary($)',axis=1)
x.head()

   experience  test_score(out of 10)  interview_score(out of 10)
0           0                      8                           9
1           0                      8                           6
2           5                      6                           7
3           2                     10                          10
4           7                      9                           6

In [7]:
y = df.iloc[:,3:]
y.head()

   salary($)
0      50000
1      45000
2      60000
3      65000
4      70000

In [8]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

In [9]:
model = LinearRegression()

In [10]:
model.fit(x,y)

LinearRegression()

In [11]:
model.score(x,y)

0.9840740542395071

In [12]:
import joblib

In [13]:
joblib.dump(model,'salary_prediction_model.pkl')

['salary_prediction_model.pkl']

In [14]:
model = joblib.load('salary_prediction_model.pkl')

In [15]:
prediction = model.predict(x)

In [16]:
r2_score(y,prediction)

0.9840740542395071